In [2]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json

In [3]:
# Load all files

with open('list_cat_cols.txt', 'r') as file_1:
  list_cat_cols = json.load(file_1)

with open('list_num_cols.txt', 'r') as file_2:
  list_num_cols = json.load(file_2)

with open('model_scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('model_encoder.pkl', 'rb') as file_4:
  encoder = pickle.load(file_4)

with open('model_svc.pkl', 'rb') as file_5:
  model_svc = pickle.load(file_5)
  
with open('model_grid_rf.pkl', 'rb') as file_6:
  model_grid_rf = pickle.load(file_6)

In [4]:
#Create new data

data_inf = pd.DataFrame({
    'limit_balance'      : [5000],
    'sex'                : [1],
    'education_level'    : [3],
    'marital_status'     : [3],
    'age'                : [30],
    'pay_0'              : [8],
    'pay_2'              : [-1],
    'pay_3'              : [0],
    'pay_4'              : [3],
    'pay_5'              : [-2],
    'pay_6'              : [1],
    'bill_amt_1'         : [2000],
    'bill_amt_2'         : [3000],
    'bill_amt_3'         : [4000],
    'bill_amt_4'         : [5000],
    'bill_amt_5'         : [6000],
    'bill_amt_6'         : [100],
    'pay_amt_1'          : [200],
    'pay_amt_2'          : [250],
    'pay_amt_3'          : [350],
    'pay_amt_4'          : [0],
    'pay_amt_5'          : [0],
    'pay_amt_6'          : [2500]
})

#data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6
0,5000,1,3,3,30,8,-1,0,3,-2,...,4000,5000,6000,100,200,250,350,0,0,2500

In [5]:
# Split between numerical columns and categorical columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_cat

   pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0      8     -1      0      3     -2      1

In [6]:
# Feature scaling and feature encoding

data_inf_num_scaled  = scaler.transform(data_inf_num)
data_inf_cat_encoded = encoder.transform(data_inf_cat)

data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis = 1)

In [18]:
# Predict using SVM

y_pred_inf_svm = pd.DataFrame(model_svc.predict(data_inf_final))
y_pred_inf_svm

   0
0  1

In [19]:
# Predict using Random Forest Classification - Hyperparameter

y_pred_inf_rf = pd.DataFrame(model_grid_rf.predict(data_inf_final))
y_pred_inf_rf

   0
0  1